RewriteEngine On

RewriteRule ^([a-zA-Z0-9-]+)$ type.php?url=$1
RewriteRule ^([a-zA-Z0-9-\(\)]+)-([0-9]+).html$ detail.php?url=$1&id=$2

# \ dac biet -> binh thuong  \)
#regex

RewriteRule ^/?public\/htaccess.txt$ - [F,L]
#123456767r
ErrorDocument 404 /shop1204/404.html
ErrorDocument 500 /shop1204/404.html
ErrorDocument 403 /shop1204/404.html
#Deny from all